JREngage/JREngage.xcodeproj/xcuserdata/
QuickPublish/QuickPublish.xcodeproj/xcuserdata/
QuickSignIn/QuickSignIn.xcodeproj/xcuserdata/
PhonegapSample/PhonegapSample.xcodeproj/xcuserdata/
PhonegapCordovaSample/PhonegapCordovaSample.xcodeproj/xcuserdata/
*.DS_Store

