JREngage.xcodeproj/xcuserdata/
JREngage.xcodeproj/*.pbxuser
JREngage.xcodeproj/*.perspective
JREngage.xcodeproj/*.perspectivev3
JREngage.xcodeproj/project.xcworkspace
.idea/workspace.xml
.idea/misc.xml
*.DS_Store
