<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>v2.1.01-5</string>
	<key>JREngage.GitCommit</key>
	<string>384df87d4174bdaf4f82130fa34692ad9f9a4536</string>
	<key>JREngage.CustomInterface</key>
	<dict>
		<key>DefaultValues</key>
		<dict>
			<key>NavigationBar.TintColor.RGBa</key>
			<array>
				<real>0</real>
				<real>0</real>
				<real>0</real>
				<real>0</real>
			</array>
			<key>Authentication.Background.Color.RGBa</key>
			<array>
				<real>0.102</real>
				<real>0.33</real>
				<real>0.48</real>
				<real>0.2</real>
			</array>
<!--
			<key>SocialSharing.Background.Color.RGBa</key>
				<array>
					<real>0</real>
					<real>0</real>
					<real>0</real>
					<real>0</real>
				</array>
			<key>ProviderTable.Background.Image.Name</key>
			<string></string>
			<key>UserLanding.Background.Image.Name</key>
			<string></string>
			<key>SocialSharing.Background.Image.Name</key>
			<string></string>
			<key>ProviderTable.Background.Image.Name-iPad</key>
			<string></string>
			<key>UserLanding.Background.Image.Name-iPad</key>
			<string></string>
			<key>SocialSharing.Background.Image.Name-iPad</key>
			<string></string>
			<key>ProviderTable.Title.String</key>
			<string></string>
			<key>SocialSharing.Title.String</key>
			<string></string>
			<key>ProviderTable.Section.Footer.Title.String</key>
			<string></string>
			<key>ProviderTable.Section.Header.Title.String</key>
			<string></string>
-->
		</dict>
		<key>CustomValues</key>
		<dict>
<!--
			<key>NavigationBar.TintColor.RGBa</key>
			<array>
				<real>0</real>
				<real>0</real>
				<real>0</real>
				<real>0</real>
			</array>
			<key>Authentication.BackgroundColor.RGBa</key>
			<array>
				<real>0</real>
				<real>0</real>
				<real>0</real>
				<real>0.2</real>
			</array>
			<key>SocialSharing.Background.ColorRGBa</key>
				<array>
					<real>0</real>
					<real>0</real>
					<real>0</real>
					<real>0</real>
				</array>
			<key>ProviderTable.Background.Image.Name</key>
			<string></string>
			<key>UserLanding.Background.Image.Name</key>
			<string></string>
			<key>SocialSharing.Background.Image.Name</key>
			<string></string>
			<key>ProviderTable.Background.Image.Name-iPad</key>
			<string></string>
			<key>UserLanding.Background.Image.Name-iPad</key>
			<string></string>
			<key>SocialSharing.Background.Image.Name-iPad</key>
			<string></string>
			<key>ProviderTable.Title.String</key>
			<string></string>
			<key>SocialSharing.Title.String</key>
			<string></string>
			<key>ProviderTable.Section.Footer.Title.String</key>
			<string></string>
			<key>ProviderTable.Section.Header.Title.String</key>
			<string></string> 
-->
		</dict>
	</dict>
</dict>
</plist>



