<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>v2.0.1</string>
	<key>Git Commit</key>
	<string>01e12c6a7d7828d27e251a1d0cc8d4dcd73b4eeb</string>
</dict>
</plist>
