<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>EnableLocation</key>
	<false/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<true/>
	<key>ShowSplashScreenSpinner</key>
	<true/>
	<key>MediaPlaybackRequiresUserAction</key>
	<false/>
	<key>AllowInlineMediaPlayback</key>
	<false/>
	<key>OpenAllWhitelistURLsInWebView</key>
	<false/>
	<key>ExternalHosts</key>
      <array>
          <string>*.rpxnow.com</string>
          <string>*.facebook.com</string>
          <string>*.fbcdn.net</string>
          <string>*.google.com</string>
          <string>*.yahoo.com</string>
          <string>*.myspace.com</string>
          <string>*.twitter.com</string>
          <string>*.twimg.com</string>
          <string>*.paypal.com</string>
          <string>*.jrauthenticate.appspot.com</string>
          <string>*.ssl.gstatic.com</string>
          <string>*.api.screenname.aol.com</string>
          <string>*.open.login.yahooapis.com</string>
          <string>*.ssl.google-analytics.com</string>
          <string>*.paypalobjects.com</string>
          <string>*.api.linkedin.com</string>
          <string>*.a4.ec-images.myspacecdn.com</string>
          <string>*.x.myspacecdn.com</string>
          <string>*.login.live.com</string>
          <string>*.myopenid.com</string>
          <string>*.sns-static.aolcdn.com</string>
          <string>*.s.yimg.com</string>
          <string>*.linkedin.com</string>
          <string>*.Js.wlxrs.com</string>
          <string>*.Css.wlxrs.com</string>
          <string>*.s4-s.licdn.com</string>
          <string>*.ak1s.abmr.net</string>
          <string>*.a248.e.akamai.net</string>
          <string>*.Img.wlxrs.com</string>
          <string>*.consent.live.com</string>
          <string>*.secure-us.imrworldwide.com</string>
          <string>*.secure.quantserve.com</string>
          <string>*.sb.scorecardresearch.com</string>
          <string>*.js.wlxrs.com</string>
          <string>*.css.wlxrs.com</string>
          <string>*.secure.wlxrs.com</string>
          <string>*.accountservices.msn.com</string>
          <string>*.img.wlxrs.com</string>
          <string>*.c.live.com</string>
          <string>*.a1.ec-images.myspacecdn.com</string>
          <string>*.fbcdn-profile-a.akamaihd.net</string>
    	</array>
	<key>Plugins</key>
	<dict>
    <key>JREngagePlugin</key>
    <string>JREngagePhonegapPlugin</string>
		<key>com.phonegap.accelerometer</key>
		<string>PGAccelerometer</string>
		<key>com.phonegap.camera</key>
		<string>PGCamera</string>
		<key>com.phonegap.connection</key>
		<string>PGConnection</string>
		<key>com.phonegap.contacts</key>
		<string>PGContacts</string>
		<key>com.phonegap.debugconsole</key>
		<string>PGDebugConsole</string>
		<key>com.phonegap.file</key>
		<string>PGFile</string>
		<key>com.phonegap.filetransfer</key>
		<string>PGFileTransfer</string>
		<key>com.phonegap.geolocation</key>
		<string>PGLocation</string>
		<key>com.phonegap.notification</key>
		<string>PGNotification</string>
		<key>com.phonegap.media</key>
		<string>PGSound</string>
		<key>com.phonegap.mediacapture</key>
		<string>PGCapture</string>
		<key>com.phonegap.splashscreen</key>
		<string>PGSplashScreen</string>
	</dict>
</dict>
</plist>
